* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.container {
  width: 1170px;
  margin: 0 auto;
}

.meni-inner {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li a {
  text-transform: uppercase;
  color: #999;
  padding: 10px 20px;
}

.nav li a:hover {
  background-color: rgb(242, 157, 9);
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

.info {
  display: flex;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 30px;
}
.logo-info {
  padding-left: 25px;
  padding-top: 0px;
}
.text-block {
  width: 33.33%;
}
.text-middle,
.text,
.right {
  float: left;
  margin-left: 15px;
}

.photo {
  display: block;
  margin: auto;
}
.block {
  padding: 20px;
  width: 200px;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}
.main {
  display: flex;
}
.block-2 {
  border: 1px solid black;
  float: left;
  width: 33.33%;
  margin-left: 20px;
  padding: 10px;
}
.normal {
  font-size: 15px;
}

.image-block2 {
  margin-left: 20px;
  margin-top: 0px;
}
